body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.content {
  background-image: url(../images/restaurant-pic.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* WRAPPER STUFF */
.content .rest-info {
  position: absolute;
  left: 34%;
  top: 25%;
  text-align: center;
  background-color: rgba(29, 146, 175, 0.4);
  border-radius: 12%;
  padding: 40px 25px;
}

.content .welcome .rest-logo {
  width: 150px;
  height: 100px;
}

.content .rest-info p {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
}

.content .rest-info hr {
  border: 1px solid #5f0f40;
}

.content .rest-dine {
  width: 100px;
  height: 50px;
}
